html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y:hidden
}

.body {
    margin: 0;
    height: 100vh;
    background: url('Foto_Fluxo.png') no-repeat center center;
    background-size: cover;
    padding: 0;
    backdrop-filter:blur(2px);
    max-width: 100%;
    max-height: 100%;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,0.1));
    background-size: cover;
}
.body {
    background-color: black;
    backdrop-filter: 30%;
}

.headline {
    background-color: black;
    background-origin: initial ;
    background-size: ;
    color:whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10vh;
    font-weight: 500;
    max-width: 100%;;
    
}
.LegendaTitulo {
    font-size: 5vh;
    position:relative;
    left: 11%;
    bottom: 5vh;
}
.LogoFluxoTitulo {
    src: "logoFluxo.png";
    width: 16vh;
    position: relative;
    left: 12%;;
    top: 1vh;
}
.LegendaTitulo2 {
    color: #F1812d;
    font-size: 3.65vh;
    position: relative;
    left:42%;
    bottom: 5vh;
}
.chamadaLogin {
    color:whitesmoke;
    font-size: 7vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    left: 23vh;
    top: 24vh;
}

.AreaLogin {
    position: fixed;
    left: 60%;
    bottom:34%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F1812d;
}
.emailsenha {
    font-size: 3.6vh;
    font-weight: 800;
    color: whitesmoke;
}
.capa {
    height: auto;
    position: relative; 
    right: 56vh; 
    bottom: 24vh; 
    width: 160vh; 
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0; 
    box-sizing: content-box;
}
.Esquece_senha {
    color:#F1812d;
    font-size: 1.8vh;
    font-weight: bold;
    position: relative;
    left: 35%;
}

.Lembrar[type='checkbox']{
    color:#F1812d;
    font-size: 10vh;
    font-weight: bold;
}

.entrar {
    width: 10px ;
}
input[type="email"],
input[type="password"] {
    width: 45.5vh;
    height: 6vh;
    padding: 1.2vh;
    margin: 1.2vh 0;
    box-sizing: border-box;
    border: 2px solid whitesmoke;;
    border-radius: 2vh;
    font-size: 2.5vh; 
    padding: 1vh; 
    width: 100%;
    box-sizing: border-box; 
}


.submit[type='submit'], input[type='submit'] {
    background-color:#F1812d;
    border-style: solid ;
    font-size: 2.5vh;
    width:46vh;
    height: 6vh;
    color: whitesmoke;
    padding: 2.4px 4.86vh;
    text-decoration: none;
    margin: 0.6vh 0.3px;
    cursor: pointer;
    border-radius: 1.5vh;
}
.submit:hover {
    background-color: #f1815f;
}
.google {
    background-color: whitesmoke;
    width: 25vh;
    position: absolute;
    right: 23vh;
    top: 37vh;
    font-size: 2.2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    border-radius: 10vh;;
    margin: 0.3vh 0.3vh;
    cursor: pointer;
    padding: 0.6vh 0.3vh;
    border: 0.6vh solid #F1812d ;
}
.apple {
    background-color: whitesmoke;
    width: 25vh;
    position: absolute;
    left: 23vh;
    top: 37vh;
    font-size: 2.2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    border-radius: 10vh;
    margin: 0.3vh 0.3vh;
    cursor: pointer;
    padding: 0.6vh 0.3vh;
    border: 0.6vh solid #F1812d ;
    
}

.logoGoogle {
    height: 14px;
    width: auto;
    position: relative;
    top: 0.2vh;
}
.logoApple {
    height: 14px;
    width: auto;
    position: relative;
    top:0.2vh;
}
.rodape {
    position: absolute;
    left: 18%;
    bottom: 5%;

    font-size: 2.4vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: whitesmoke;
    
}
a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
